* {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;

        }

        body {
            backface-visibility: #eee;
            background: white;
			      margin: 0;

        }

        .wrapper {
            width: 100%;
            margin: 0 auto;

        }
        /*************/

        nav {
            background: #333;

        }

        nav ul {
            list-style-type: none;
            padding: 0px;
            align-content: center;
            height: 100px;
            margin-bottom: 0px !important;
        }

        nav a {
            text-decoration: none;
            text-align: center;
            color: #fff;
            display: block;
            padding: 40px;
        }

        nav a:hover {
            background: #555;
        }
        /*************/

        @media screen and (min-width: 760px) {

            nav ul {
                display: flex;
            }
            nav li {
                flex: 1 1 0;
            }
        }

        button{
            size: 50px;
        }
        canvas {
			border: 1px solid black;

		}

		.backg {
			background-color: black;
      width: 100%;

		}

		.navbar {
			margin-bottom: 0px !important;
		}

    #test {
        width: 100%;
        height: 350px;
        background-image: url('./image/copy.png');
        background-repeat: no-repeat;
        background-size: contain;

    }
